body {
    background-color: cornflowerblue;
}

header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.logo{
    padding: 20px;
    width: 250px;
}

.headshot {
    padding: 15px;
    width: 200px;
    object-position: center;
}

.nav-pills{
    background-color: navy;
}
header nav {
    margin-right: 20px;
    color: navy;
}
header nav li {
    display: inline-block;
    list-style-type: none;
    margin: 20px;
}

.content {
    display: flex;
}

.content .sidebar {
    margin: 70px;
}

.content .sidebar {
    list-style-type: none;
    margin: 20px;
}

.content .sidebar {
    padding: 30px 70px;
    max-width: 500px;
    background-color: navy;
    color: white;
}

.content .displayContent {
    width: 75%;
    padding: 35px;
}

.Intro {
    color: navy;
    font-family: "Arial Rounded MT Bold";
    background-color: cornflowerblue;
}

h1 {
    background-color: white;
}

table td {
    padding: 25px;
}

table tr {
    margin-bottom: 15px;
}

img {
    vertical-align: middle;
    border-style: none;
    width: 500px;
}

footer {
    text-align: center;
}

footer a {
    margin: 20px;
}
